@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3c3c;
  padding: 20px 9%;
}

nav div.nav-links {
  align-items: center;
  display: none;
}

div.name a {
  font-size: 30px;
  font-weight: bolder;
}

nav div.nav-links a {
  margin-right: 26px;
}

nav div.breadcrumb-icon {
  display: block;
}

/* contact form */

div.contact-heading p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
  padding-bottom: 73px;
  margin-bottom: 0;
}

form.contact-form input {
  border: 0;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 24px;
  padding: 14px;
}

form.contact-form textarea {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  height: 114px;
  background-color: #fbf8f7;
  border: 0;
  padding: 12px;
}

form.contact-form {
  padding-left: 24px;
  padding-right: 24px;
}

form.contact-form button {
  background-color: #ff6b00;
  margin-top: 24px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border-style: none;
  font-family: 'inter', serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}

form.contact-form ul {
  padding: 0;
}

form.contact-form li.button-wraper {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 136px;
}

footer ul.social-links-footer {
  display: flex;
  justify-content: center;
  padding: 0;
}

footer ul.social-links-footer li {
  display: list-item;
  margin-right: 21px;
}

footer ul.social-links-footer li.last-icon {
  margin-right: 0;
}

footer svg {
  color: #505f79 !important;
}

footer hr.last-line {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40%;
  background: #0d151e;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 8px;
}

/* header.headline-section section */

header.work-heading h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  text-align: center;
}

section.headline-section {
  padding: 1px 30px;
  display: flex;
  min-height: 100vh;
  background-color: #1c1a19;
  background-image: url("/static/bg.png");
  background-repeat: no-repeat;
  background-size: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow-x: hidden !important;
  background-position: bottom right;
}

section.headline-section div.headline {
  width: fit-content;
}

section.headline-section ul.social-links {
  padding-left: 1px;
  margin-right: 20px;
  order: 1;
}

section.headline-section ul.social-links ul {
  list-style-type: none;
}

section.headline-section ul.social-links li {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
}

section.headline-section div.headline h1 {
  margin: 1px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

header.aboutme-heading h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
}

section.headline-section div.headline h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

header.aboutme-heading p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 24px;
  margin-top: 24px;
}

section.headline-section div.headline p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* work section */
section.work-section {
  color: black;
  padding: 24px;
}

div.main-project {
  display: flex;
  flex-direction: column;
}

div.main-project-image img {
  width: 100%;
}

header.work-heading hr {
  margin-bottom: 80px;
}

hr.line {
  width: 100%;
}

div.main-project-details h3.title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin-bottom: 1px;
}

div.main-project-details p.description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

div.main-project-details ul.tech-used {
  list-style-type: none;
  display: flex;
  padding-left: 1px;
}

div.main-project-details ul.tech-used li {
  align-items: center;
}

div.main-project-details ul.tech-used li a {
  color: black;
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

div.main-project-details button {
  color: white;
  border: none;
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

/* sub project / more projects */

article.work-card-container {
  display: grid;
  grid-template-columns: auto;
}

div.sub-projects h3.title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  padding-top: 84px;
}

div.sub-projects {
  color: white;
  display: flex;
  flex-direction: column;
}

div.sub-projects p.description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

div.sub-projects ul.tech-used {
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  padding-left: 1px;
}

div.sub-projects ul.tech-used li {
  align-items: center;
  margin-bottom: 22px;
}

div.sub-projects ul.tech-used li a {
  display: inline-block;
  padding: 10px 12px;
  margin-right: 12px;
  background: rgba(255, 255, 255, 0.24);
}

div.sub-projects button.view-project-btn {
  color: white;
  border: none;
  width: 100%;
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

div.sub-projects div.sub-project-container {
  background: url("/static/work/printing-work.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 16px;
  padding-right: 16px;
}

div.sub-projects div.btn-container {
  text-align: center;
  color: white;
}

/* about me section */

section.aboutme-section {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  padding-right: 0;
  background-color: #1c1a19;
}

section.aboutme-section hr {
  margin-bottom: 121px;
}

section.aboutme-section div.skills {
  text-align: center;
}

section.aboutme-section div.skills-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.aboutme-section div.skills-title h3 {
  margin-left: 12px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

section.aboutme-section div.skills ul {
  padding: 0;
  list-style-type: none;
}

section.aboutme-section div.skills ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  margin-bottom: 17px;
}

header.aboutme-heading {
  padding-right: 24px;
  padding-bottom: 220px;
  background-image: url("/static/work/aboutme-graphics.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

header.aboutme-heading button {
  color: white;
  border: none;
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

/* responsive in desktop */

@media only screen and (min-width: 768px) {
  section.headline-section {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-position: top right;
  }

  section.headline-section ul.social-links {
    order: 0;
  }

  section.headline-section ul.social-links li {
    display: block !important;
    margin-top: 10px;
  }

  section.headline-section div.headline {
    margin-left: 5%;
    width: 566px;
  }

  section.headline-section div.headline h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  section.headline-section div.headline h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  section.headline-section div.headline p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  nav div.nav-links {
    display: block;
  }

  nav div.breadcrumb-icon {
    display: none;
  }
}
